/*MENU*/
header{
    background-color: rgb(0, 0, 158);
    color: white;
    display: flex;
}
a{
    text-decoration: none;
    color: white;
    float: right;
    text-align: center;
    margin: 0;
    padding: 50%;
    font-size: 18px;
    
}
ul{
    list-style-type: none;
    
}
li{
    display: inline-flex;
    padding-left: 50px;
}
footer{
    background-color:  rgb(0, 0, 158);
    color: white;
    display: flex;
}
footer > img{
    height: 115px;
    width: 115px;
}

.logo > img{
    height: 115px;
    width: 115px;
}


/*PRINCIPAL*/
.container{
    display: flex; 
    gap: 50%;

}

.conteiner > .card{
    height: 40%;
    width: 45%;
    display: inline-block;
    margin: 5%;
    padding: 5%;
}
.card > h1{
    color: rgb(0, 0, 158);
    text-align: justify;
    font-size: 55px;
    padding-left: 40%;
}
.card > img{
    padding-right: 40%;
}
.card > button{
    height: 7%;
    margin-left: 45%;
    background-color: rgb(242, 242, 0);
    border-color: white;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15%;
    
}


