body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image1{
  height: 10%;
  width: 20%;
  float: left;
}
.tile-image2{
  height: 10%;
  width: 20%;
  float: left;
}



.left-card{ /* CONTROLA A DIV DA ESQUERDA*/
  height: 20%;
  width: 40%;
  display: inline-block;
  
  
}
.right-card{ /* CONTROLA A DIV DA DIREITA*/
  height: 20%;
  width: 40%;
  display: inline-block;
  
}
.card-text1{ /* CONTROLA O TEXTO DA DIREITA*/
  height: 20%;
  width: 40%;
  padding-left: 22%;
  
  
}
.card-text2{ /* CONTROLA O TEXTO DA ESQUERDA*/
  height: 20%;
  width: 40%;
  padding-left: 22%;
}

.card-title1{ /* CONTROLA O TITULO DA ESQUERDA*/
  margin-top: 0;

}
.card-title2{ /* CONTROLA O TITULO DA DIREITA*/
  margin-top: 0;
}
.title-externo{ /* CONTROLA O TITULO DA PRINCIPAL*/
  
}

